@import url("../../css/base.css");

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    inset: 0;
}

main {
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    height: 100%;
}

@media screen and (width > 1600px) {
    main {
        flex-flow: row nowrap;
        gap: 5%;
    }
}